.itemDetails {
  display: flex;
  margin: 0.5rem 1rem;
}

.itemDetails .characters {
  width: 200px;
  height: 270px;
}
.itemDetails .planets {
  width: 200px;
  height: 200px;
}
.itemDetails .starships {
  width: 200px;
  height: 200px;
}

.itemDetails h2 {
  padding-left: 1rem;
}

.itemDetails ul {
  list-style: none;
}

.itemDetails ul li span {
  padding-right: 0.3rem;
}